
<nav style="background-color: #b6bec4;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="create">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="readall">Readall</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true" href="about">About</a>
    </li>
  </ul>
</nav>